@charset "UTF-8";

// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
@font-face {
  font-family: 'Grota Rounded';
  font-weight: 800;
  font-style: normal;
  src:  url('../../assets/fonts/GrotaRoundedExtraBold.woff2') format('woff2'),
        url('../../assets/fonts/GrotaRoundedExtraBold.woff') format('woff');
}

//
@import "./variables";

*,
*:before,
*:after {
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body,
input,
button {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

body {
  background: $background-color;
  overflow-x: hidden;
}

.navigate {
  cursor: pointer;
}

ul {
  &:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
    & > li {
      list-style-type: none;
    }
  }
}

figure {
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
  font-family: 'Grota Rounded', sans-serif;
  line-height: 1.2;
  color: $title-color;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: 30px;
  color: $text-color;
}
