/*
 *  MAIN PAGE CSS
 *
 *  1. IMPORTS
 *  2. MAIN
 *  3. GROWTH
 *  4. CASES
 *  5. TEAM
 *  6. PROJECTS
 *
 */

/*
 *  1. IMPORTS
 */
@import "./variables";

/*
 *  2. MAIN
 */
#content-introduction {
  position: relative;
  z-index: 0;
  width: 100%;
  display: flex;
  position: relative;
  padding-top: 360px;
  overflow: hidden;
  .container {
    position: relative;
    z-index: 3;
    width: 85%;
    max-width: 1080px;
    margin: 0 auto;
  }

  .transition {
    position: absolute;
    z-index: 2;
    left: 0;
    top: -1px;
    width: 100%;
    pointer-events: none;
  }
  .wave-effect {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: -1.6rem;
    width: 100%;
    pointer-events: none;
  }
  .background {
    position: absolute;
    width: 220%;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -70%);
    z-index: 1;
    pointer-events: none;
  }
  @media screen and (min-width: 1440px) {
    .transition {
      top: -40px;
    }
  }
  @media screen and (max-width: 1000px) {
    padding-top: 120px;
    padding-bottom: 60px;
    .transition {
      display: none;
    }
    .wave-effect {
      display: none;
    }
  }
}

/*
 *  3. GROWTH
 */
#introduction-growth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    margin: 0;
    font-size: 40px;
    line-height: 1.2;
    margin-top: 8px;
    margin-bottom: 24px;
    color: #99f8cb;
    opacity: 0;
    transition: opacity 0.8s ease-in;
    transition-delay: 0.3s;
  }
  .text {
    text-align: center;
    color: #6ccdfc;
    line-height: 1.5;
    opacity: 0;
    transition: opacity 0.8s ease-in;
    margin: 0 auto;
    &.text-up {
      transition-delay: 0.6s;
    }
    &.text-down {
      width: 424px;
      transition-delay: 0s;
    }
  }
  .btn {
    margin-top: 24px;
  }
  &.visible {
    p.text-up {
      opacity: 1;
      transition-delay: 0s;
    }
    h2 {
      opacity: 1;
    }
    p.text-down {
      opacity: 1;
      transition-delay: 0.6s;
    }
  }
  @media screen and (max-width: 1000px) {
    text-align: center;
    width: 100%;
    h2 {
      opacity: 1;
      width: 190px;
      margin: 10px auto;
      font-size: 24px;
    }
    .text {
      opacity: 1;
      max-width: 100%;
      &.text-up {
        width: 274px;
      }
      &.text-down {
        width: 300px;
      }
    }
    .btn {
      margin-top: 32px;
      height: 60px;
      p {
        max-width: 139px;
      }
    }
  }
}

/*
 *  5. TEAM
 */

@include keyframes("memberShow") {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

#introduction-team {
  display: grid;
  grid-template: 1fr / 40rem 1fr;
  margin-top: 13.5rem;
  .titles {
    p {
      font-weight: 800;
      font-family: "Grota Rounded", sans-serif;
      font-size: 40px;
      margin: 4px 0;
      color: #fd5b78;
      line-height: 1;
      position: relative;
      opacity: 0;
      transition: opacity 0.7s, transform 1.5s, color 0.5s;
      &.text01 {
        font-size: 24px;
        transform: translateX(-32px);
        transition-delay: 0.6s;
      }
      &.text02 {
        font-size: 32px;
        transform: translateX(58px);
        transition-delay: 0.4s;
      }
      &.text03 {
        color: #99f8cb;
        transform: translateX(-22px);
        transition-delay: 0.2s;
      }
      &.text04 {
        color: #f5d253;
        transform: translateX(35px);
        transition-delay: 0s;
      }
    }
  }
  .members {
    display: grid;
    grid-template: 1fr / repeat(7, 1fr);
    align-items: center;
    justify-content: center;
    grid-gap: 1.6rem;
    flex-direction: row;
    align-items: center;
    .member {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      p {
        margin: 0;
        font-weight: bold;
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        &.name {
          color: #fff;
          font-size: 1.6rem;
          margin-top: 1rem;
          line-height: 1;
        }
        &.head {
          color: #6ccdfc;
          font-size: 1.2rem;
          margin-top: 0.2rem;
          line-height: 1.2;
          width: 100%;
          height: 2.8rem;
        }
      }
      img {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        transform: scale(0);
        transform-origin: center bottom;
        transition: transform 0.3s ease-out;
      }
      &.member01 {
        p {
          &.head {
            color: #f5d253;
          }
        }
      }
      &.member02 {
        p {
          &.head {
            color: #f5d253;
          }
        }
      }
      &.member03 {
        p {
          &.head {
            color: #6ccdfc;
          }
        }
      }
      &.member04 {
        p {
          &.head {
            color: #fd5b78;
          }
        }
      }
      &.member05 {
        p {
          &.head {
            color: #99f8cb;
          }
        }
      }
      &.member06 {
        p {
          &.head {
            color: #fd5b78;
          }
        }
      }
      &.member07 {
        p {
          &.head {
            color: #6ccdfc;
          }
        }
      }
    }
  }
  &.visible {
    .titles {
      p {
        opacity: 1;
        &.text01 {
          transform: translateX(0px);
          transition-delay: 0s;
        }
        &.text02 {
          transform: translateX(90px);
          transition-delay: 0.2s;
        }
        &.text03 {
          transform: translateX(10px);
          transition-delay: 0.4s;
        }
        &.text04 {
          transform: translateX(67px);
          transition-delay: 0.6s;
        }
      }
    }
    .members {
      .member {
        p {
          opacity: 1;
        }
        img {
          transform: scale(1);
          animation-name: memberShow;
          animation-duration: 0.5s;
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-fill-mode: backwards;
        }
        &.member01 {
          p {
            transition-delay: 0s;
          }
        }
        &.member02 {
          img {
            animation-delay: 0.15s;
          }
          p {
            transition-delay: 0.15s;
          }
        }
        &.member03 {
          img {
            animation-delay: 0.3s;
          }
          p {
            transition-delay: 0.3s;
          }
        }
        &.member04 {
          img {
            animation-delay: 0.45s;
          }
          p {
            transition-delay: 0.45s;
          }
        }
        &.member05 {
          img {
            animation-delay: 0.6s;
          }
          p {
            transition-delay: 0.6s;
          }
        }
        &.member06 {
          img {
            animation-delay: 0.75s;
          }
          p {
            transition-delay: 0.75s;
          }
        }
        &.member07 {
          img {
            animation-delay: 1s;
          }
          p {
            transition-delay: 1s;
          }
        }
        &:hover {
          // width: 10rem;
          img {
            transform: scale(1.2);
          }
        }
      }
    }
  }
  @media screen and (max-width: 1000px) {
    margin-top: 8rem;
    flex-direction: column;
    .titles {
      margin-right: 0;
      text-align: center;
      p {
        opacity: 1;
        &.text01 {
          font-size: 2.4rem;
          transform: translateX(0px);
        }
        &.text02 {
          font-size: 3.2rem;
          transform: translateX(0px);
        }
        &.text03 {
          font-size: 2.4rem;
          transform: translateX(0px);
        }
        &.text04 {
          font-size: 2.4rem;
          transform: translateX(0px);
        }
      }
    }
    .members {
      margin-top: 3.2rem;
      flex-wrap: wrap;
      justify-content: center;
      .member {
        margin: 0;
        margin-top: 1.6rem;
        width: 33.3333%;
        p {
          opacity: 1;
          &.name {
            font-size: 1.6rem;
            width: 100%;
          }
          &.head {
            font-size: 1rem;
            margin-top: 0.4rem;
            width: 100%;
          }
        }
        img {
          transform: scale(1);
        }
      }
    }
  }
}

/*
 *  6. PROJECTS
 */

#introduction-projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 680px;
  margin: 120px auto;
  margin-top: 170px;
  .box {
    position: relative;
    width: 40%;
    max-width: 250px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    padding-top: 56px;
    .logo {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      border-radius: 50%;
    }
    h3 {
      margin: 0;
      color: #1d2951;
      font-size: 24px;
      line-height: 1.5;
    }
    .address {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 8px;
      margin-bottom: 24px;
      p {
        margin: 0;
        color: #fd5b78;
        font-size: 12px;
        margin-left: 8px;
        line-height: 1;
      }
    }
  }
  .right-content {
    width: calc(100% - 298px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .text {
      margin: 0;
      font-size: 16px;
      line-height: 1.5;
      color: #6ccdfc;
    }
    .btn {
      margin-top: 32px;
    }
  }
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 24px;
    .box {
      width: 100%;
      max-width: 250px;
      margin: 0 auto;
    }
    .right-content {
      width: 100%;
      margin: 0 auto;
      margin-top: 32px;
      text-align: center;
      align-items: center;
      .btn {
        p {
          font-size: 15px;
        }
      }
    }
  }
}
