/*
 *  MAIN PAGE CSS
 *
 *  1. IMPORTS
 *  2. MAIN
 *  3. GROWTH
 *  4. CASES
 *  5. TEAM
 *  6. PROJECTS
 *
 */

/*
 *  1. IMPORTS
 */
@import "./variables";

/*
 *  2. MAIN
 */
#content-introduction {
  position: relative;
  z-index: 0;
  width: 100%;
  display: flex;
  position: relative;
  padding-top: 360px;
  overflow: hidden;
  .container {
    position: relative;
    z-index: 3;
    width: 85%;
    max-width: 1080px;
    margin: 0 auto;
  }

  .transition {
    position: absolute;
    z-index: 2;
    left: 0;
    top: -1px;
    width: 100%;
    pointer-events: none;
  }
  .wave-effect {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0px;
    width: 100%;
    pointer-events: none;
  }
  .background {
    position: absolute;
    width: 220%;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -70%);
    z-index: 1;
    pointer-events: none;
  }
  @media screen and (max-width: 1000px) { 
    padding-top: 120px;
    padding-bottom: 60px;
    .transition {
      display: none;
    }
    .wave-effect {
      display: none;
    }
  }
}

/*
 *  3. GROWTH
 */
#introduction-growth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    margin: 0;
    font-size: 40px;
    line-height: 1.2;
    margin-top: 8px;
    margin-bottom: 24px;
    color: #99F8CB;
    opacity: 0;
    transition: opacity .8s ease-in;
    transition-delay: .3s;
  }
  .text {
    text-align: center;
    color: #6CCDFC;
    line-height: 1.5;
    opacity: 0;
    transition: opacity .8s ease-in;
    margin: 0 auto;
    &.text-up {
      transition-delay: .6s;
    }
    &.text-down {
      width: 424px;
      transition-delay: .0s;
    }
  }
  .btn {
    margin-top: 24px;
  }
  &.visible {
    p.text-up {
      opacity: 1;
      transition-delay: 0s;
    }
    h2 {
      opacity: 1;
    }
    p.text-down {
      opacity: 1;
      transition-delay: .6s;
    }
  }
  @media screen and (max-width: 1000px) {
    text-align: center;
    width: 100%;
    h2 {
      opacity: 1;
      width: 190px;
      margin: 10px auto;
      font-size: 24px;
    }
    .text {
      opacity: 1;
      max-width: 100%;
      &.text-up {
        width: 274px;
      }
      &.text-down {
        width: 300px;
      }
    }
    .btn {
      margin-top: 32px;
      height: 60px;
      p {
        max-width: 139px;
      }
    }
  }
}

/*
 *  4. CASES
 */
#introduction-cases {
  margin-top: 120px;
  h2 {
    width: 608px;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #F5D253;
  }
  .items {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item {
      display: flex;
      position: relative;
      width: calc(33.3333% - 20px);
      border-radius: 16px;
      overflow: hidden;
      opacity: 0;
      transform: translateY(50px);
      transition: opacity .5s ease-in, transform .5s ease;
      img {
        width: 100%;
      }
      h3 {
        position: absolute;
        bottom: 24px;
        margin: 0;
        left: 24px;
        width: 70%;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        color: #F5D253;
        font-size: 24px;
      }
      .hover-effect {
        background: #F5D253;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: " ";
        position: absolute;
        transition: opacity .5s ease-out;
      }
      &:hover {
        .hover-effect {
          opacity: .15;
        }
      }
      &.item01 {
        transition-delay: .4s;
      }
      &.item02 {
        transition-delay: .2s;
      }
      &.item03 {
        transition-delay: 0s;
      }
    }
  }
  &.visible {
    .item {
      opacity: 1;
      transform: translateY(0);
      &.item01 {
        transition-delay: 0s;
      }
      &.item02 {
        transition-delay: .2s;
      }
      &.item03 {
        transition-delay: .4s;
      }
    }
  }
  
  @media screen and (max-width: 1000px) {
    margin-top: 72px;
    width: 100%;
    h2 {
      width: 100%;
      max-width: 230px;
      font-size: 24px;
      line-height: 1.2;
    }
    .items {
      flex-direction: column;
      .item {
        width: 90%;
        max-width: 354px;
        margin: 0 auto;
        margin-bottom: 24px;
        opacity: 1;
        transform: translateY(0px);
        h3 {
          width: 80%;
        }
      }
    }
  }
}

/*
 *  5. TEAM
 */

@include keyframes('memberShow') {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

#introduction-team {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 135px;
  .titles {
    margin-right: 60px;
    p {
      font-weight: 800;
      font-family: 'Grota Rounded', sans-serif;
      font-size: 40px;
      margin: 4px 0;
      color: #6CCDFC;
      line-height: 1;
      position: relative;
      opacity: 0;
      transition: opacity .7s, transform 1.5s, color .5s;
      &.text01 {
        font-size: 24px;
        transform: translateX(-32px);
        transition-delay: .6s;
      }
      &.text02 {
        font-size: 32px;
        transform: translateX(58px);
        transition-delay: .4s;
      }
      &.text03 {
        color: #99F8CB;
        transform: translateX(-22px);
        transition-delay: .2s;
      }
      &.text04 {
        color: #F5D253;
        transform: translateX(35px);
        transition-delay: 0s;
      }
    }
  }
  .members {
    display: flex;
    flex-direction: row;
    align-items: center;
    .member {
      display: flex;
      flex-direction: column;
      margin-left: 8px;
      text-align: center;
      // justify-content: center;
      align-items: center;
      width: 120px;
      p {
        margin: 0;
        font-weight: bold;
        opacity: 0;
        transition: opacity .5s cubic-bezier(0.4, 0, 0.2, 1);;
        &.name {
          color: #fff;
          font-size: 24px;
          margin-top: 8px;
          line-height: 1;
          letter-spacing: -1px;
          width: 100%;
        }
        &.head {
          color: #6CCDFC;
          font-size: 12px;
          line-height: 1.2;
          margin-top: 8px;
          width: 100%;
          height: 28px;
        }
      }
      img {
        width: 100px;
        border-radius: 50px;
        transform: scale(0);
        transform-origin: center bottom;
        transition: transform .3s ease-out;
      }
      &.member01 {
        p {
          &.head {
            color: #6CCDFC;
          }
        }
      }
      &.member02 {
        p {
          &.head {
            color: #99F8CB;
          }
        }
      }
      &.member03 {
        p {
          &.head {
            color: #F5D253;
          }
        }
      }
      &.member04 {
        p {
          &.head {
            color: #99F8CB;
          }
        }
      }
      &.member05 {
        p {
          &.head {
            color: #6CCDFC;
          }
        }
      }
    }
  }
  &.visible {
    .titles {
      p {
        opacity: 1;
        &.text01 {
          transform: translateX(0px);
          transition-delay: 0s;
        }
        &.text02 {
          transform: translateX(90px);
          transition-delay: .2s;
        }
        &.text03 {
          transform: translateX(10px);
          transition-delay: .4s;
        }
        &.text04 {
          transform: translateX(67px);
          transition-delay: .6s;
        }
      }
    }
    .members {
      .member {
        p {
          opacity: 1;
        }
        img {
          transform: scale(1);
          animation-name: memberShow;
          animation-duration: .5s;
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-fill-mode: backwards;
        }
        &.member01 {
          p {
            transition-delay: 0s;
          }
        }
        &.member02 {
          img {
            animation-delay: .2s;
          }
          p {
            transition-delay: .2s;
          }
        }
        &.member03 {
          img {
            animation-delay: .4s;
          }
          p {
            transition-delay: .4s;
          }
        }
        &.member04 {
          img {
            animation-delay: .6s;
          }
          p {
            transition-delay: .6s;
          }
        }
        &.member05 {
          img {
            animation-delay: .8s;
          }
          p {
            transition-delay: .8s;
          }
        }
        &:hover {
          img {
            transform: scale(1.3);
          }
        }
      }
    }
  }
  @media screen and (max-width: 1000px) {
    margin-top: 80px;
    flex-direction: column;
    .titles {
      margin-right: 0;
      text-align: center;
      p {
        opacity: 1;
        &.text01 {
          font-size: 24px;
          transform: translateX(0px);
        }
        &.text02 {
          font-size: 32px;
          transform: translateX(0px);
        }
        &.text03 {
          font-size: 24px;
          transform: translateX(0px);
        }
        &.text04 {
          font-size: 24px;
          transform: translateX(0px);
        }
      }
    }
    .members {
      margin-top: 32px;
      flex-wrap: wrap;
      justify-content: center;
      .member {
        margin: 0;
        margin-top: 16px;
        width: 33.3333%;
        p {
          opacity: 1;
          &.name {
            font-size: 16px;
            width: 100%;
          }
          &.head {
            font-size: 10px;
            margin-top: 4px;
            width: 100%;
          }
        }
        img {
          width: 80px;
          transform: scale(1);
        }
      }
    }
  }
}

/*
 *  6. PROJECTS
 */

#introduction-projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 680px;
  margin: 120px auto;
  margin-top: 170px;
  .box {
    position: relative;
    width: 40%;
    max-width: 250px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    padding-top: 56px;
    .logo {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      border-radius: 50%;
    }
    h3 {
      margin: 0;
      color: #1D2951;
      font-size: 24px;
      line-height: 1.5;
    }
    .address {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 8px;
      margin-bottom: 24px;
      p {
        margin: 0;
        color: #FD5B78;
        font-size: 12px;
        margin-left: 8px;
        line-height: 1;
      }
    }
  }
  .right-content {
    width: calc(100% - 298px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .text {
      margin: 0;
      font-size: 16px;
      line-height: 1.5;
      color: #6CCDFC;
    }
    .btn {
      margin-top: 32px;
    }
  }
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 24px;
    .box {
      width: 100%;
      max-width: 250px;
      margin: 0 auto;
    }
    .right-content {
      width: 100%;
      margin: 0 auto;
      margin-top: 32px;
      text-align: center;
      align-items: center;
      .btn {
        p {
          font-size: 15px;
        }
      }
    }
  }
}