@import "variables";

#content-recipe {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 8rem;
  padding-bottom: 4rem;
  .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: 85%;
    max-width: 100rem;
    margin: 0 auto;
    .text {
      width: 60%;
      display: flex;
      flex-direction: column;
      .top {
        margin-left: 6.5rem;
        p {
          font-weight: 800;
          font-family: "Grota Rounded", sans-serif;
          font-size: 3.2rem;
          margin: 0.4rem 0;
          color: #6ccdfc;
          line-height: 1.2;
          position: relative;
          opacity: 0;
          transition: opacity 0.7s, transform 1.5s, color 0.5s;
          &.text01 {
            transform: translateX(-0.7rem);
            transition-delay: 0.6s;
          }
          &.text02 {
            transform: translateX(6.3rem);
            transition-delay: 0.4s;
          }
          &.text03 {
            color: $yellow-color;
            font-size: 4.8rem;
            transform: translateX(0.8rem);
            transition-delay: 0.2s;
          }
          &.text04 {
            font-size: 2.4rem;
            line-height: 3.2rem;
            transform: translateX(-3.2rem);
            transition-delay: 0s;
          }
          &.text04-mobile-01,
          &.text04-mobile-02,
          &.text04-mobile-03 {
            display: none;
          }
        }
      }
      .bottom {
        margin-left: 6.5rem;
        margin-top: 2rem;
        p {
          font-weight: 800;
          font-family: "Grota Rounded", sans-serif;
          font-size: 3.2rem;
          margin: 0.4rem 0;
          color: #99f8cb;
          line-height: 1.2;
          position: relative;
          opacity: 0;
          transition: opacity 0.7s, transform 1.5s, color 0.5s;
          &.text01 {
            transform: translateX(-3.2rem);
          }
          &.text01-mobile-01,
          &.text01-mobile-02,
          &.text03-mobile-01,
          &.text03-mobile-02 {
            display: none;
          }
          &.text02 {
            transform: translateX(9.8rem);
          }
          &.text03 {
            color: #fd5b78;
            font-size: 4rem;
            transform: translateX(8.1rem);
          }
          &.text04 {
            font-size: 2.4rem;
            line-height: 3.2rem;
            transform: translateX(1.7rem);
          }
          &.text05 {
            color: #fd5b78;
            font-size: 4rem;
            transform: translateX(-2rem);
          }
        }
      }
    }
    .image {
      position: relative;
      width: 40%;
      img {
        position: absolute;
        &.first {
          width: 125%;
          right: -2.8rem;
          top: -10rem;
          transform: translateX(0);
          opacity: 1;
          transition: opacity 0.5s, transform 0.5s;
        }
        &.secound {
          width: 160%;
          right: -17.8rem;
          top: -2.2rem;
          transform: scale(0);
          transform-origin: center bottom;
          transition: transform 0.5s;
        }
      }
    }
    &.visible {
      .text {
        .top {
          p {
            opacity: 1;
            &.text01 {
              transform: translateX(2.5rem);
              transition-delay: 0s;
            }
            &.text02 {
              transform: translateX(9.5rem);
              transition-delay: 0.2s;
            }
            &.text03 {
              transform: translateX(4rem);
              transition-delay: 0.4s;
            }
            &.text04 {
              transform: translateX(0rem);
              transition-delay: 0.6s;
            }
          }
        }
        .bottom {
          p {
            &.text01 {
              transition-delay: 0.8s;
            }
            &.text02 {
              transition-delay: 0.6s;
            }
            &.text03 {
              transition-delay: 0.4s;
            }
            &.text04 {
              transition-delay: 0.2s;
            }
            &.text05 {
              transition-delay: 0s;
            }
          }
        }
      }
    }
    &.focus {
      .text {
        .top {
          p {
            color: #131b36;
            &.text02 {
              transition-delay: 0.1s;
            }
            &.text03 {
              transition-delay: 0.2s;
            }
            &.text04 {
              transition-delay: 0.3s;
            }
          }
        }
        .bottom {
          p {
            opacity: 1;
            &.text01 {
              transform: translateX(0);
              transition-delay: 0s;
            }
            &.text02 {
              transform: translateX(13rem);
              transition-delay: 0.2s;
            }
            &.text03 {
              transform: translateX(11.3rem);
              transition-delay: 0.4s;
            }
            &.text04 {
              transform: translateX(4.9rem);
              transition-delay: 0.6s;
            }
            &.text05 {
              transform: translateX(1.2rem);
              transition-delay: 0.8s;
            }
          }
        }
      }
      .image {
        position: relative;
        width: 45%;
        img {
          &.first {
            transform: translateX(10rem);
            opacity: 0;
          }
          &.secound {
            transition-delay: 0.2s;
            transform: scale(1);
          }
        }
      }
    }
  }
  .video-container {
    position: relative;
    z-index: 3;
    width: 85%;
    margin: 0 auto;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      color: $yellow-color;
      text-align: center;
      font-size: 3.2rem;
      font-family: "Lato", sans-serif;
      margin: 0;
    }
    .video {
      width: 100%;
      max-width: 86rem;
      margin: 0 auto;
      margin-top: 2.4rem;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      border-radius: 1rem;
      box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.1);
      display: flex;
      .preview {
        width: 100%;
        source {
          display: none;
        }
      }
      .play-button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.8rem;
        height: 4.8rem;
        background: $yellow-color;
        transition: background 0.5s;
        border-radius: 2.4rem;
        img {
          position: relative;
          left: 0.2rem;
        }
        &:hover {
          background: $yellow-color-dark;
        }
      }
    }
  }
  .transition {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: -0.2rem;
    width: 100%;
    pointer-events: none;
  }
  .background {
    position: absolute;
    width: 144%;
    left: 50%;
    transform: translateX(-50%);
    top: -20%;
    z-index: 1;
    pointer-events: none;
  }
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    .content {
      position: relative;
      max-width: 30rem;
      .text {
        width: 100%;
        .top {
          margin-left: 0;
          p {
            font-size: 1.6rem;
            opacity: 1;
            line-height: 2.4rem;
            margin: 0;
            // text-align: right;
            &.text01 {
              transform: translateX(0);
            }
            &.text02 {
              transform: translateX(4.8rem);
              font-size: 2.4rem;
            }
            &.text03 {
              transform: translateX(-1rem);
              text-align: right;
              font-size: 4.8rem;
              line-height: 1;
              width: 22.6rem;
            }
            &.text04 {
              display: none;
            }
            &.text04-mobile-01 {
              transform: translateX(3rem);
              font-size: 2.4rem;
              margin-top: 0.8rem;
              display: block;
            }
            &.text04-mobile-02 {
              display: block;
              margin-top: 0.4rem;
              transform: translateX(10rem);
            }
            &.text04-mobile-03 {
              display: block;
              transform: translateX(11rem);
            }
          }
        }
        .bottom {
          margin-left: 0;
          margin-top: 14rem;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          p {
            font-size: 1.6rem;
            opacity: 1;
            line-height: 2.4rem;
            margin: 0;
            text-align: right;
            &.text01 {
              display: none;
            }
            &.text01-mobile-01 {
              display: block;
              transform: translateX(-5rem);
            }
            &.text01-mobile-02 {
              display: block;
              transform: translateX(-4rem);
            }
            &.text02 {
              transform: translateX(-1.2rem);
            }
            &.text03 {
              display: none;
            }
            &.text03-mobile-01 {
              display: block;
              color: $primary-color;
              font-size: 3rem;
              line-height: 1;
              transform: translateX(-1.2rem);
            }
            &.text03-mobile-02 {
              display: block;
              color: $primary-color;
              font-size: 3.2rem;
              line-height: 1;
              transform: translateX(-0.2rem);
            }
            &.text04 {
              font-size: 1.6rem;
              transform: translateX(0);
            }
            &.text05 {
              font-size: 2.4rem;
              transform: translateX(0);
            }
          }
        }
      }
      .image {
        position: initial;
        width: auto;
        img {
          position: absolute;
          &.first {
            width: 120%;
            max-width: 28.8rem;
            right: 0;
            top: -4rem;
            transform: translateX(50%);
            opacity: 1;
          }
          &.secound {
            width: 170%;
            max-width: 47rem;
            right: auto;
            top: auto;
            left: -4rem;
            bottom: -2rem;
            transform: translateX(-50%) scaleX(-1);
            transition: transform 0.5s;
          }
        }
      }
    }
    .video-container {
      margin-top: 10rem;
    }
    .background {
      width: auto;
      height: 100%;
      top: 0;
    }
  }
  @media screen and (max-width: 600px) {
    padding-bottom: 0;
  }
}

#video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  transition: background 0.5s ease-out;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  cursor: pointer;
  .content {
    transform-origin: center center;
    transform: scale(0.75);
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.3s ease-out;
    width: 90%;
    height: 50.6vw;
    max-width: 100rem;
    max-height: 56.3rem;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  &.open {
    background: rgba(0, 0, 0, 0.8);
    pointer-events: all;
    .content {
      opacity: 1;
      transform: scale(1);
    }
  }
}
