
@import 'variables';

#content-recipe {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 40px;
  .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: 85%;
    max-width: 990px;
    margin: 0 auto;
    .text {
      width: 60%;
      display: flex;
      flex-direction: column;
      .top {
        margin-left: 65px;
        p {
          font-weight: 800;
          font-family: 'Grota Rounded', sans-serif;
          font-size: 32px;
          margin: 0;
          color: #6CCDFC;
          line-height: 1;
          position: relative;
          opacity: 0;
          transition: opacity .7s, transform 1.5s, color .5s;
          &.text01 {
            transform: translateX(-7px);
            transition-delay: .6s;
          }
          &.text02 {
            transform: translateX(63px);
            transition-delay: .4s;
          }
          &.text03 {
            color: #F5D253;
            font-size: 48px;
            transform: translateX(8px);
            transition-delay: .2s;
          }
          &.text04 {
            font-size: 24px;
            line-height: 32px;
            transform: translateX(-32px);
            transition-delay: 0s;
          }
          &.text04-mobile-01,
          &.text04-mobile-02,
          &.text04-mobile-03 {
            display: none;
          }
        }
      }
      .bottom {
        margin-left: 65px;
        margin-top: 20px;
        p {
          font-weight: 800;
          font-family: 'Grota Rounded', sans-serif;
          font-size: 32px;
          margin: 0;
          color: #99F8CB;
          line-height: 1;
          position: relative;
          opacity: 0;
          transition: opacity .7s, transform 1.5s, color .5s;
          &.text01 {
            transform: translateX(-32px);
          }
          &.text01-mobile-01,
          &.text01-mobile-02,
          &.text03-mobile-01,
          &.text03-mobile-02 {
            display: none;
          }
          &.text02 {
            transform: translateX(98px);
          }
          &.text03 {
            color: #FD5B78;
            font-size: 40px;
            transform: translateX(81px);
          }
          &.text04 {
            font-size: 24px;
            line-height: 32px;
            transform: translateX(17px);
          }
          &.text05 {
            color: #FD5B78;
            font-size: 40px;
            transform: translateX(-20px);
          }
        }
      }
    }
    .image {
      position: relative;
      width: 40%;
      img {
        position: absolute;
        width: 165%;
        &.first {
          right: -80px;
          top: -80px;
          transform: translateX(0);
          opacity: 1;
          transition: opacity .5s, transform .5s;
        }
        &.secound {
          right: -160px;
          top: -44px;
          transform: scale(0);
          transform-origin: center bottom;
          transition: transform .5s;
        }
      }
    }
    &.visible {
      .text {
        .top {
          p {
            opacity: 1;
            &.text01 {
              transform: translateX(25px);
              transition-delay: 0s;
            }
            &.text02 {
              transform: translateX(95px);
              transition-delay: .2s;
            }
            &.text03 {
              transform: translateX(40px);
              transition-delay: .4s;
            }
            &.text04 {
              transform: translateX(0px);
              transition-delay: .6s;
            }
          }
        }
        .bottom {
          p {
            &.text01 {
              transition-delay: .8s;
            }
            &.text02 {
              transition-delay: .6s;
            }
            &.text03 {
              transition-delay: .4s;
            }
            &.text04 {
              transition-delay: .2s;
            }
            &.text05 {
              transition-delay: 0s;
            }
          }
        }
      }
      
    }
    &.focus {
      .text {
        .top {
          p {
            color: #131B36;
            &.text02 {
              transition-delay: .1s;
            }
            &.text03 {
              transition-delay: .2s;
            }
            &.text04 {
              transition-delay: .3s;
            }
          }
        }
        .bottom {
          p {
            opacity: 1;
            &.text01 {
              transform: translateX(0px);
              transition-delay: 0s;
            }
            &.text02 {
              transform: translateX(130px);
              transition-delay: .2s;
            }
            &.text03 {
              transform: translateX(113px);
              transition-delay: .4s;
            }
            &.text04 {
              transform: translateX(49px);
              transition-delay: .6s;
            }
            &.text05 {
              transform: translateX(12px);
              transition-delay: .8s;
            }
          }
        }
      }
      .image {
        position: relative;
        width: 40%;
        img {
          &.first {
            transform: translateX(100px);
            opacity: 0;
          }
          &.secound {
            transition-delay: .2s;
            transform: scale(1);
          }
        }
      }
    }
  }
  .video-container {
    position: relative;
    z-index: 3;
    width: 90%;
    margin: 0 auto;
    margin-top: 148px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      color: #F5D253;
      text-align: center;
      font-size: 32px;
      font-family: 'Lato', sans-serif;
      margin: 0;
    }
    .video {
      width: 100%;
      max-width: 860px;
      margin: 0 auto;
      margin-top: 24px;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      border-radius: 10px;
      .preview {
        width: 100%;
      }
      .play-button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background: $yellow-color;
        transition: background .5s;
        border-radius: 24px;
        img {
          position: relative;
          left: 2px;
        }
        &:hover {
          background: $yellow-color-dark;
        }
      }
    }
  }
  .transition {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: -1px;
    width: 100%;
    pointer-events: none;
  }
  .background {
    position: absolute;
    width: 144%;
    left: 50%;
    transform: translateX(-50%);
    top: -20%;
    z-index: 1;
    pointer-events: none;
  } 
  @media screen and (max-width: 1000px) {
    flex-direction: column; 
    .content {
      position: relative;
      .text {
        width: 100%;
        .top {
          margin-left: 0;
          p {
            font-size: 16px;
            opacity: 1;
            line-height: 24px;
            &.text01 {
              transform: translateX(0px);
            }
            &.text02 {
              transform: translateX(58px);
              font-size: 24px;
            }
            &.text03 {
              transform: translateX(0px);
              font-size: 48px;
              line-height: 1;
              width: 226px;
            }
            &.text04 {
              display: none;
            }
            &.text04-mobile-01 {
              font-size: 24px;
              margin-top: 8px;
              display: block;
            }
            &.text04-mobile-02 {
              display: block;
              margin-top: 4px;
              transform: translateX(22px);
            }
            &.text04-mobile-03 {
              display: block;
              transform: translateX(45px);
            }
          }
        }
        .bottom {
          margin-left: 0;
          margin-top: 88px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          p {
            font-size: 16px;
            opacity: 1;
            line-height: 24px;
            text-align: right;
            &.text01 {
              display: none;
            }
            &.text01-mobile-01 {
              display: block;
              transform: translateX(-50px);
            }
            &.text01-mobile-02 {
              display: block;
              transform: translateX(-40px);
            }
            &.text02 {
              transform: translateX(-12px);
            }
            &.text03 {
              display: none;
            }
            &.text03-mobile-01 {
              display: block;
              color: #FD5B78;
              font-size: 32px;
              line-height: 1;
              transform: translateX(-12px);
            }
            &.text03-mobile-02 {
              display: block;
              color: #FD5B78;
              font-size: 32px;
              line-height: 1;
              transform: translateX(-2px);
            }
            &.text04 {
              font-size: 16px;
              transform: translateX(0px);
            }
            &.text05 {
              font-size: 24px;
              transform: translateX(0px);
            }
          }
        }
      }
      .image {
        position: initial;
        // width: 100%;
        width: auto;
        // height: 100%;
        img {
          position: absolute;
          width: 135%;
          &.first {
            right: 24px;
            top: -24px;
            transform: translateX(50%);
            opacity: 1;
          }
          &.secound {
            right: auto;
            top: auto;
            left: -24px;
            bottom: -24px;
            transform: translateX(-50%) scaleX(-1);
            transition: transform .5s;
          }
        }
      }
    }
  }
}