body.low-support {
  #content-hero {
    .logo-object {
      display: none;
    }
    .logo-image {
      display: block;
    }
    .lines {
      display: none;
    }
  }
  #content-introduction {
    #introduction-team {
      display: flex;
      .members {
        display: flex;
        margin-left: auto;
        .member {
          margin: 0 0.8rem;
        }
      }
    }
  }
}
