// 1. THEMING
// primary
$primary-color: #FD5B78 !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 10%) !default;
// secondary
$secondary-color: #1976d2 !default;
$secondary-color-light: lighten($secondary-color, 15%) !default;
$secondary-color-dark: darken($secondary-color, 15%) !default;
// Yellow
$yellow-color: #F5D253 !default;
$yellow-color-light: lighten($yellow-color, 15%) !default;
$yellow-color-dark: darken($yellow-color, 15%) !default;
//
$success-color: #4caf50 !default;
$error-color: #f44336 !default;
$link-color: $primary-color !default;
//
$title-color: $primary-color !default;
$text-color: #12161F !default;
$background-color: #1D2951 !default;

// 3. KEYFRAME TEMPLATE
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

