
@import 'variables';
@import 'default';
@import 'header';
@import 'recipes';

#content-hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  .logo {
    width: 18%;
  }
  .lines {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .scroll {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    bottom: 24px;
    transition: opacity .5s;
    &:hover {
      opacity: .7;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

#section02,
#section03,
#section04,
#section05 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: opacity .5s;
  &.active {
    opacity: .7;
  }
}

#section04 {
  background: #FD5B78;
}
#section05 {
  background: #FF98AA;
}